<div class="constructor_wrapper">
	<div class="constructor py-5">
		<div class="container">
			<div class="col-12 marg-b-70">
				<div class="h1 underline ta-center underline-bottom-20">Создай свой уникальный товар в конструкторе</div>
			</div>
			<div class="row constructor_stages text-center">
				<div class="col-12 col-md-4 item my-3">
					<div class="img_wrap mb-3">
						<img src="img/icons/constructor_1.png" alt="Выберите обложку">
					</div>
					<div class="title">Выберите<br>обложку</div>
				</div>
				<div class="col-12 col-md-4 item my-3">
					<div class="img_wrap mb-3">
						<img src="img/icons/constructor_2.png" alt="Выберите разворот">
					</div>
					<div class="title">Выберите<br>разворот</div>
				</div>
				<div class="col-12 col-md-4 item my-3">
					<div class="img_wrap mb-3">
						<img src="img/icons/constructor_3.png" alt="Выберите изображение">
					</div>
					<div class="title">Выберите<br>изображение</div>
				</div>
			</div>
			<div class="text-center mt-4">
				<div class="button_wrapper">
					<a class="white-button" href="#">
						Создать
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="advantages second_gradient py-5">
		<div class="container">
			<div class="row adyyutant_advantages text-center white">
				<div class="col-12 col-sm-6 col-md-3 item my-3">
					<div class="img_block mb-3">
						<img src="img/icons/adyyutant_advantages_1.png" alt="Подарочная упаковка добавит законченность подарку">
					</div>
					<div class="title">Подарочная упаковка добавит законченность подарку</div>
				</div>
				<div class="col-12 col-sm-6 col-md-3 item my-3">
					<div class="img_block mb-3">
						<img src="img/icons/adyyutant_advantages_2.png" alt="Удобные интсрументы для заказчиков ">
					</div>
					<div class="title">Удобные интсрументы для заказчиков </div>
				</div>
				<div class="col-12 col-sm-6 col-md-3 item my-3">
					<div class="img_block mb-3">
						<img src="img/icons/adyyutant_advantages_3.png" alt="Выезжаем с образцами к заказчикам ">
					</div>
					<div class="title">Выезжаем с образцами к заказчикам </div>
				</div>
				<div class="col-12 col-sm-6 col-md-3 item my-3">
					<div class="img_block mb-3">
						<img src="img/icons/adyyutant_advantages_4.png" alt="Самое большое производство ежедневников в России ">
					</div>
					<div class="title">Самое большое производство ежедневников в России</div>
				</div>
			</div>
		</div>
	</div>
</div>