<div class="sale py-5">
	<div class="container">
		<div class="col-12 marg-b-70">
			<div class="h1 underline ta-center underline-bottom-20">Новинки и акции</div>
		</div>
		<div class="row">
			<div class="col-12 col-md-6 col-lg-3 mb-4">
				<div class="item">
					<div class="img_block mb-3">
						<img src="img/products/album_1.png" alt="Бизнес-блокнот «Fancy»">
					</div>
					<div class="title">Бизнес-блокнот "Fancy"</div>
					<div class="colors_block my-2">
						<span class="color blue"></span>
						<span class="color green"></span>
						<span class="color dark_blue"></span>
						<span class="color light_blue"></span>
					</div>
					<div class="price mb-3">549.00 руб.</div>
					<div class="complex-white-button">Подробнее</div>
				</div>
			</div>
			<div class="col-12 col-md-6 col-lg-3 mb-4">
				<div class="item">
					<div class="img_block mb-3">
						<img src="img/products/album_2.png" alt="Бизнес-блокнот «Casual»">
					</div>
					<div class="title">Бизнес-блокнот "Casual"</div>
					<div class="colors_block my-2">
						<span class="color blue"></span>
						<span class="color green"></span>
					</div>
					<div class="price mb-3">549.00 руб.</div>
					<div class="complex-white-button">Подробнее</div>
				</div>
			</div>
			<div class="col-12 col-md-6 col-lg-3 mb-4">
				<div class="item">
					<div class="img_block mb-3">
						<img src="img/products/album_3.png" alt="Блокнот «Casual»">
					</div>
					<div class="title">Блокнот "Casual"</div>
					<div class="colors_block my-2">
						<span class="color blue"></span>
						<span class="color green"></span>
						<span class="color dark_blue"></span>
					</div>
					<div class="price mb-3">549.00 руб.</div>
					<div class="complex-white-button">Подробнее</div>
				</div>
			</div>
			<div class="col-12 col-md-6 col-lg-3 mb-4">
				<div class="item">
					<div class="img_block mb-3">
						<img src="img/products/album_4.png" alt="Бизнес-блокнот «Fancy»">
					</div>
					<div class="title">Бизнес-блокнот "Fancy"</div>
					<div class="colors_block my-2">
						<span class="color blue"></span>
						<span class="color green"></span>
						<span class="color dark_blue"></span>
						<span class="color light_blue"></span>
					</div>
					<div class="price mb-3">549.00 руб.</div>
					<div class="complex-white-button">Подробнее</div>
				</div>
			</div>
		</div>
	</div>
</div>