<div class="adyyutant advantages_block py-5">
	<div class="container">
		<div class="col-12 marg-b-70">
			<div class="h1 underline ta-center underline-bottom-20">Преимущества компании</div>
		</div>
		<div class="row">
			<div class="col-12 col-sm-6 col-lg-3 item pb-4 pt-sm-0">
				<div class="row align-items-center">
					<div class="col-4 col-sm-12">
						<div class="img_block underline half_line ta-center pb-2">
							<img src="img/icons/adyyutant_adv_1.png" alt="Тысячи довольных клиетов">
						</div>
					</div>
					<div class="col-8 col-sm-12">
						<div class="description pt-sm-4 pb-sm-3 underline half_line">Тысячи довольных клиентов</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-sm-6 col-lg-3 item pb-4 pt-sm-0">
				<div class="row align-items-center">
					<div class="col-4 col-sm-12">
						<div class="img_block underline half_line ta-center pb-2"><img src="img/icons/adyyutant_adv_2.png" alt="Самое большое производство ежедневников"></div>
					</div>
					<div class="col-8 col-sm-12">
						<div class="description pt-sm-4 pb-sm-3 underline half_line">Самое большое производство ежедневников</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-sm-6 col-lg-3 item pb-4 pt-sm-0">
				<div class="row align-items-center">
					<div class="col-4 col-sm-12">
						<div class="img_block underline half_line ta-center pb-2"><img src="img/icons/adyyutant_adv_3.png" alt="Сроки производства тиража от 10 р.д"></div>
					</div>
					<div class="col-8 col-sm-12">
						<div class="description pt-sm-4 pb-sm-3 underline half_line">Сроки производства тиража от 10 р.д</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-sm-6 col-lg-3 item pb-4 pt-sm-0">
				<div class="row align-items-center">
					<div class="col-4 col-sm-12">
						<div class="img_block underline half_line ta-center pb-2"><img src="img/icons/adyyutant_adv_4.png" alt="Быстрая доствка"></div>
					</div>
					<div class="col-8 col-sm-12">
						<div class="description pt-sm-4 pb-sm-3 underline half_line">Быстрая<br>доставка</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>