.sale{
	.img_block{
		min-height: 265px;
		line-height: 165px;
		img{
			display: inline_block;
			max-width: 100%;
		}
	}
	.title{
		font-size: 18px;
		text-transfor: uppercase;
		font-weight: 800;
	}
	.complex-white-button{
		max-width: 155px;
	}
	.price{
		font-size: 21px;
		line-height: 1;
	}
}
.colors_block{
	line-height: 1;
	.color{
		width: 20px;
		height: 20px;
		border-radius: 50%;
		display: inline-block;
		margin-right: 7px;
	}
	.blue{
		background-color: #0b24fb;
	}
	.green{
		background-color: #0f7f12;
	}
	.dark_blue{
		background-color: #020c7e;
	}
	.light_blue{
		background-color: #1275cc;
	}
}
@media (min-width: 480px){
	.works_block.adyyutant .item{
		.img_block {
		    margin-top: -46%;
		}
		img{
			width: 80%;
		}
	} 
}